<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-test-case-heading"
        data-cy="TestCaseCreateUpdateHeading"
        jhiTranslate="finalYearProjectApp.testCase.home.createOrEditLabel"
      >
        Create or edit a Test Case
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="finalYearProjectApp.testCase.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let inputRef = editForm.get('input')!;
        <div class="mb-3">
          <label class="form-label" for="field_input" jhiTranslate="finalYearProjectApp.testCase.input">Input</label>
          <input type="text" class="form-control" name="input" id="field_input" data-cy="input" formControlName="input" />
          @if (inputRef.invalid && (inputRef.dirty || inputRef.touched)) {
            <div>
              @if (editForm.get('input')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let expectedOutputRef = editForm.get('expectedOutput')!;
        <div class="mb-3">
          <label class="form-label" for="field_expectedOutput" jhiTranslate="finalYearProjectApp.testCase.expectedOutput"
            >Expected Output</label
          >
          <input
            type="text"
            class="form-control"
            name="expectedOutput"
            id="field_expectedOutput"
            data-cy="expectedOutput"
            formControlName="expectedOutput"
          />
          @if (expectedOutputRef.invalid && (expectedOutputRef.dirty || expectedOutputRef.touched)) {
            <div>
              @if (editForm.get('expectedOutput')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="finalYearProjectApp.testCase.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_question" jhiTranslate="finalYearProjectApp.testCase.question">Question</label>
          <select
            class="form-control"
            id="field_question"
            data-cy="question"
            name="question"
            formControlName="question"
            [compareWith]="compareQuestion"
          >
            <option [ngValue]="null"></option>
            @for (questionOption of questionsSharedCollection; track $index) {
              <option [ngValue]="questionOption">{{ questionOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
