<div class="dashboard">
  <h1>Teacher Dashboard</h1>

  <div class="metrics">
    <div class="card">
      <h3>Total Classes</h3>
      <p>{{ metrics.totalClasses }}</p>
    </div>
    <div class="card">
      <h3>Total Assignments</h3>
      <p>{{ metrics.totalAssignments }}</p>
    </div>
    <div class="card">
      <h3>Total Students</h3>
      <p>{{ metrics.totalStudents }}</p>
    </div>
  </div>



  <div class="actions">
    <button class="btn btn-primary" (click)="navigateToAssignmentManagement()">Create or Manage Assignments</button>
    <button class="btn btn-primary" (click)="navigateToClassManagement()">Manage Classes</button>
  </div>
</div>
