<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (testCase(); as testCaseRef) {
      <div>
        <h2 data-cy="testCaseDetailsHeading"><span jhiTranslate="finalYearProjectApp.testCase.detail.title">Test Case</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ testCaseRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.testCase.input">Input</span></dt>
          <dd>
            <span>{{ testCaseRef.input }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.testCase.expectedOutput">Expected Output</span></dt>
          <dd>
            <span>{{ testCaseRef.expectedOutput }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.testCase.description">Description</span></dt>
          <dd>
            <span>{{ testCaseRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.testCase.question">Question</span></dt>
          <dd>
            @if (testCase()!.question) {
              <div>
                <a [routerLink]="['/question', testCase()!.question?.id, 'view']">{{ testCaseRef.question?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/test-case', testCaseRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
