<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-app-user-heading" data-cy="AppUserCreateUpdateHeading" jhiTranslate="finalYearProjectApp.appUser.home.createOrEditLabel">
        Create or edit a App User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="finalYearProjectApp.appUser.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="finalYearProjectApp.appUser.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="finalYearProjectApp.appUser.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let passwordRef = editForm.get('password')!;
        <div class="mb-3">
          <label class="form-label" for="field_password" jhiTranslate="finalYearProjectApp.appUser.password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
          @if (passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)) {
            <div>
              @if (editForm.get('password')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let rolesRef = editForm.get('roles')!;
        <div class="mb-3">
          <label class="form-label" for="field_roles" jhiTranslate="finalYearProjectApp.appUser.roles">Roles</label>
          <input type="text" class="form-control" name="roles" id="field_roles" data-cy="roles" formControlName="roles" />
          @if (rolesRef.invalid && (rolesRef.dirty || rolesRef.touched)) {
            <div>
              @if (editForm.get('roles')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_points" jhiTranslate="finalYearProjectApp.appUser.points">Points</label>
          <input type="number" class="form-control" name="points" id="field_points" data-cy="points" formControlName="points" />
        </div>

        <div class="mb-3">
          <label for="field_classes" jhiTranslate="finalYearProjectApp.appUser.classes">Classes</label>
          <select
            class="form-control"
            id="field_classes"
            data-cy="classes"
            multiple
            name="classes"
            formControlName="classes"
            [compareWith]="compareStudentClass"
          >
            @for (studentClassOption of studentClassesSharedCollection; track $index) {
              <option [ngValue]="studentClassOption">{{ studentClassOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
