<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (appUser(); as appUserRef) {
      <div>
        <h2 data-cy="appUserDetailsHeading"><span jhiTranslate="finalYearProjectApp.appUser.detail.title">App User</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ appUserRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.appUser.name">Name</span></dt>
          <dd>
            <span>{{ appUserRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.appUser.email">Email</span></dt>
          <dd>
            <span>{{ appUserRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.appUser.password">Password</span></dt>
          <dd>
            <span>{{ appUserRef.password }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.appUser.roles">Roles</span></dt>
          <dd>
            <span>{{ appUserRef.roles }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.appUser.points">Points</span></dt>
          <dd>
            <span>{{ appUserRef.points }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.appUser.classes">Classes</span></dt>
          <dd>
            @for (classes of appUserRef.classes; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/student-class', classes.id, 'view']">{{ classes?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/app-user', appUserRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
